.App {
  text-align: center;
}





.container{
  display: flex;
  justify-content: center;
  margin: 10px;
}


.ul{
  background: #ffffffc2;
  padding: 10px;
  display: block;
  width: 10%;
}
ul{
  display: flex;
}
 li{
 
  list-style: none;
}

.flim_container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  /* last for the css
   */
}